.community-page {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  z-index: -1;
}
.title-block {
  position: relative;
  display: flex;
  justify-content: center;
  top: -13.5rem;
  bottom: 17.25rem;
}
.community-header-image {
  width: 100%;
  height: 21rem;
  display: flex;
  position: relative;
  top: -3.75rem;
}

.header-img {
  display: block;
  flex-direction: column;
  width: 100%;
  height: 14rem;
  background-repeat: no-repeat;
  place-items: center;
}

.community-cards {
  margin-top: 5rem;
  height: 70rem;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
}
.community-content {
  margin-left: 0.3rem;
}
.community-content p {
  color: var(--grey);
  padding-top: 0.62rem;
}

.community-content h3,
h5 {
  color: var(--black);
  margin: 0;
}

.community-buttons {
  position: relative;
  top: 4.37rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 0.45rem;
}
