.community-page {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--white);
}
.title-block {
  position: relative;
  display: flex;
  justify-content: center;
  top: -13.5rem;
  bottom: 17.25rem;
}
.community-header-image {
  width: 100%;
  height: 21rem;
  display: flex;
  position: relative;
  top: -3.75rem;
}

.header-img {
  display: block;
  flex-direction: column;
  width: 100%;
  height: 14rem;
  background-repeat: no-repeat;
  place-items: center;
}

.community-cards {
  margin-top: 5rem;
  height: 70rem;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
}
.community-desc-header {
  margin-left: 0.3rem;
}
.community-content p {
  color: var(--grey);
  padding-top: 0.62rem;
}

.community-desc-header h3,
h5 {
  color: var(--black);
  margin: 0;
}

.community-footer {
  display: flex;
  position: relative;
  width: 60%;
  justify-content: space-between;
  left: 2.8rem;
}

.like-counter {
  color: var(--black);
  position: relative;
  left: 1.875rem;
}

.comments-counter {
  color: var(--black);
  position: relative;
  right: 6.7rem;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}

