.community-page {
  position: relative;
  width: 100%;
  height: 100%;
}

.community-header-image {
  width: 100%;
  height: 14rem;
  display: block;
  margin: 0 auto;
}

.header-img {
  position: relative;
  width: 100%;
  height: 14rem;
  background-repeat: no-repeat;
  place-items: center;
}

.community-cards {
  margin-top: 4rem;
  display: flex;
  gap: 70px 50px;
  flex-wrap: wrap;
}

.community-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
