# Dependency directories
node_modules
jspm_packages
route.rest
# package-lock.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# rest client 
.rest
