.input {
  box-sizing: border-box;
  background: var(--white);
  border: 2px solid var(--red);
  border-radius: 7px;
}

.input_wrapper {
  display: flex;
  flex-direction: column;
}

.l {
  width: 400px;
}

.m {
  width: 290px;
}

.s {
  width: 195px;
}