.input {
  box-sizing: border-box;
  background: var(--white);
  border: 2px solid var(--primary-red);
  border-radius: 7px;
  color: var(--black);
  height: 3rem;
  padding: 0.5rem;
}

.input_wrapper {
  display: flex;
  flex-direction: column;
}

.l {
  width: 25rem;
}

.m {
  width: 18rem;
}

.s {
  width: 12rem;
}