* {
  border-radius: 0.4rem;
}
h3 {
  margin: 0.6rem;
}

.card {
  margin-left: 2rem;
  height: 28.6rem;
  width: 26.75rem;
  left: 1.75rem;
  overflow: hidden;
  filter: drop-shadow(0rem 0.25rem 1.2rem rgba(0, 0, 0, 0.25));
}
.card--s-wide {
  width: 34.75rem;
  height: 10.625rem;
}
.card--s-wide .card-post-image {
  overflow: hidden;
  height: 5.5rem;
  width: 100%;
}
.card--s-wide .card-title {
  top: -6rem;
}

.card--s-wide .card-content {
  top: -4rem;
  height: 5.25rem;
  width: 100%;
}

.card--m-long {
  width: 26.75rem;
  height: 19.25rem;
}

.card-title {
  position: relative;
  display: flex;
  background: var(--black);
  opacity: 55%;
  width: 100%;
  height: 3rem;
  top: -13.4rem;
  font-size: large;
  text-align: start;
}

.card-post-image {
  overflow: hidden;
  height: 12.93rem;
  width: 100%;
}

.card-content {
  position: relative;
  height: 16.68rem;
  width: 26.75rem;
  padding: 0.5rem;
  top: -5rem;
  border-radius: 0.625rem;
  background-color: var(--white);
  margin-top: 0.5rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#card-header-description {
  color: var(--black);
}

#card-post-description {
  overflow-wrap: break-word;
  width: 100%;
  color: var(--grey);
  height: 10rem;
  font-size: 0.8rem;
}

#card-footer {
  display: flex;
  flex-direction: row-reverse;
}
