
  .textarea {
    flex: 1;
    height: 6.25rem;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    line-height: normal;
    color: var(--grey);
    background-color: var(--white);
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  
  .textarea--s {
    height: 3.125rem;
  }

  .textarea--m {
    height: 6.25rem;
  }
  
  .textarea--l {
    height: 9.375rem;
  }