@import "/Travel-log-app/frontend/src/index.css";
  .textarea {
    flex: 1;
    height: 6.25rem;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.42857143;
    color: var(--grey);
    background-color: var(--white);
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  
  .textarea--s {
    height: 50px;
  }

  .textarea--m {
    height: 100px;
  }
  
  .textarea--l {
    height: 150px;
  }