@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
     box-sizing: border-box;
 }
 :root {
   --primary-red:#FA504D;
   --white:#FFFFFF;
   --grey:#666666;
   --black:#000000;
   
 }